{% extends "base.html" %}
{% block content %}
<style>

  body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #eee;

  }

  .btn {
    outline:0;
    border:none;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }

  .btn:focus {
    outline:0;
    -webkit-outline:0;
    -moz-outline:0;
  }

  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 15px;
  }

  .form-signin input {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-signin input:focus {
    z-index: 2;
    outline: none;
  }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom-style: none;
    border-left: 1px solid;
    border-color: #000;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgb(0,0,0);
    border-top: 1px solid rgba(0,0,0,0.08);
  }

  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

</style>

<form method="post" action="{% url 'login' %}" class="form-signin">
    {% csrf_token %}
    <h1 class="form-signin-heading text-muted">Ingresar</h1>

    {% if form.errors %}
    <p class="form-check">Tu nombre de usuario y/o contraseña son incorrectos.</p>
    {% endif %}

    <input type="text" name="username" id="id_username"/>
    <input type="password" name="password" id="id_password"/>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar Sesión"/>
    <input type="hidden" name="next" value="{{ next }}"/>

</form>
{% endblock %}

