{% extends 'servicios/base.html' %}

{% block main %}

    {% if lista_cuadrillas %}
        <h2>Cuadrillas</h2>

        <p>
            <a href="{% url 'servicios:nueva_cuadrilla' %}">
                <button type="button" class="btn btn-primary">Agregar Cuadrilla</button>
            </a>
        </p>

        <table class="table">
            <tr>
                <th>Especialidad</th>
                <th>Vehículo</th>
                <th>Jefe</th>
            </tr>
            
            {% for cuadrilla in lista_cuadrillas %}
                <tr>
                    <td><a href="{% url 'servicios:cuadrilla' cuadrilla.id %}">{{cuadrilla.especialidad}}</td>
                    <td>{{cuadrilla.vehiculo}}</td>
                    <td>
                    {% if cuadrilla.jefe %}
                        <a href="{% url 'servicios:empleado' cuadrilla.jefe.id %}">{{cuadrilla.jefe.apellido}}</a>
                    {% else %}
                        No se agregó jefe a cuadrilla
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </table>
        
    {% else %}
        <p>No hay cuadrillas disponibles</p>
    {% endif %}

{% endblock %}
