{% extends 'servicios/base.html' %}

{% block content %}


<h3><b>Parte de trabajo</b>:</h3>

<h5><b>Tarea:</b> {{parte.tarea}}</h5>
<h5><b>Descripción:</b> {{parte.descripcion}}</h5>
<h5><b>Fecha:</b> {{parte.fecha}}</h5>
{% if parte.aprobado_por %}
    <h5><b>Aprobado por:</b> <a href="{% url 'servicios:empleado' parte.aprobado_por.id %}">{{parte.aprobado_por}}</a></h5>
    <h5><b>Cuadrilla:</b> <a href="{% url 'servicios:cuadrilla' parte.aprobado_por.cuadrilla.id %}">{{parte.aprobado_por.cuadrilla}}</a></h5>                     
{% else %}
    <h5><b>Aprobado por:</b> No seleccionada</h5>
    <h5><b>Cuadrilla:</b> No aprobado</h5>
{% endif %}

<p>
    {% if es_jefecuadrilla %}
    <a href="{% url 'servicios:aprobar_parte' parte.id %}">
        <button type="button" class="btn btn-primary">Aprobar parte</button>
    </a>
    {% endif %}
    <a href="{% url 'servicios:editar_parte' parte.id %}">
        <button type="button" class="btn btn-primary">Editar Parte</button>
    </a>
    <a href="{% url 'servicios:eliminar_parte' parte.id %}">
        <button type="button" class="btn btn-primary">Eliminar Parte</button>
    </a>
    <a href="{% url 'servicios:tarea' parte.tarea.id %}">
        <button type="button" class="btn btn-primary">Volver a Tarea</button>
    </a>
</p>


{% endblock %}


