{% extends 'servicios/base.html' %}

{% block main %}


<h3><b>Tarea</b>:</h3>

<div class="detail">
    <h5><b>Descripción:</b> {{ tarea.descripcion }}</h5>
    <h5><b>Servicio:</b> {{ tarea.servicio }}</h5>
    <h5><b>Estado:</b> {{ tarea.estado }}</h5>
    <h5><b>Cuadrilla Asignada:</b> {{ tarea.cuadrilla|default_if_none:"Sin Asignar"}}</h5>
</div>

{% if es_coordinador or es_administrativo %}
<p> 
    <a href="{% url 'servicios:editar_tarea' tarea.id %}"><button type="button" class="btn btn-primary">Editar Tarea</button></a>
    <a href="{% url 'servicios:eliminar_tarea' tarea.id %}"><button type="button" class="btn btn-primary">Eliminar Tarea</button></a>
    {% if tarea.estado != 'Finalizado' %}
        <a href="{% url 'servicios:finalizar_tarea' tarea.id %}"><button type="button" class="btn btn-primary">Finalizar Tarea</button></a>
    {% endif %}
    <a href="{% url 'servicios:detalle' tarea.servicio.id %}"><button type="button" class="btn btn-primary">Volver a Servicio</button></a>
</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if tarea.partedetrabajo_set.all %}
    <h4>Partes de trabajo</h4>
    <table class="table">
            
        <tr>
            
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Cuadrilla</th>
            <th>Aprobado por</th>
        </tr>
            
        {% for parte in tarea.partedetrabajo_set.all %}
            
            <tr>
                
                <td><a href="{% url 'servicios:parte' parte.id %}">{{parte.descripcion}}</a></td>
                <td>{{parte.fecha}}</td>
                <td><a href="{% url 'servicios:cuadrilla' parte.tarea.cuadrilla.id %}">{{parte.tarea.cuadrilla}}</a></td>

                {% if parte.aprobado_por %}
                    <td>{{parte.aprobado_por}}</td>
                {% else %}
                    <td>No aprobado</td>
                    {% if es_coordinador %}
                        <td>
                        <a class="btn btn-primary"
                           href="{% url 'servicios:aprobar_parte' parte.id %}">Aprobar parte</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
                
        {% endfor %}
    </table>
{% else %}
    <p>No hay partes de trabajo</p>
{% endif %}

{% if es_coordinador %}
    <p><a href="{% url 'servicios:nuevo_parte_coord' tarea.id %}"><button type="button" class="btn btn-primary">Agregar Parte</button></a></p>
{% else %}
    <p><a href="{% url 'servicios:nuevo_parte' tarea.id %}"><button type="button" class="btn btn-primary">Agregar Parte</button></a></p> 
{% endif %}            

{% endblock %}
